.anton-sc-regular {
    font-family: "Anton SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  body {
    background-image: radial-gradient(circle, #f6e987, rgb(231, 228, 228));
  }

  .navbar-brand {
    
        font-family: "Bona Nova SC", serif;
        font-weight: 700;
        font-size: 30px;
        text-shadow: #141414 2px 2px 2px;
      }
  

  .container-fluid {
    font-family: "Sixtyfour Convergence", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
   
  }

  #navbar {
    width: 100%;
    
    background-image: radial-gradient(circle, #ffe62d, white);
    margin-bottom: 25px;
    padding: 10px;
    border-color: red;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    box-shadow: #141414 5px 5px 5px;
  }

  .card {
    background-image: radial-gradient(circle, #ffe62d, white);
    margin-bottom: 25px;
    padding: 10px;
    border-color: red;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    box-shadow: #141414 10px 10px 10px;
  }

  #navbar-collapse.navbar-collapse.navbar-collapse {
    display: flex;
    align-self: flex-end;
   color: orangered;
    padding: 10px;
    border-color: red;
    border-width: 2px

  }

  
.pokemon-sprite {
    border: #141414 2px solid;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    box-shadow: #141414 5px 10px 15px;
}
